{% load static %}
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/pdf.css' %}">
</head>

<body>

    <img src="{% static 'img/mog-sign.jpg' %}" alt="My Logo" class="pdf-img-right">
    <img src="{% static 'img/Logo gold.png' %}" alt="My Logo" class="pdf-img-left">
    <div class="text-center mt-5">
        <h1 class="mb-5">INVESTMENT INVOICE</h1>
        <div class="about_text float-left padding-left">
            <h3>Investor Name</h3>
            <h3>Phone No</h3>
            <h3>Capital</h3>
            <h3>Percentage</h3>
            <h3>Duration</h3>
            <h3>Date</h3>
            <h3>Returns</h3>
            <h3>Returns Pay Date</h3>
            <h3>Payout Status</h3>
            <h3>Reference No</h3>
        </div>

        <div class="about_text float-right padding-right fixed-capitalizing">
            <hp>{{fixed.investor_name}}</p>
            <p>{{fixed.phone_no}}</p>
            <p>₦{{fixed.capital}}</p>
            <p>{{fixed.percentage}}</p>
            <p>{{fixed.duration}}</p>
            <p>{{fixed.date}}</p>
            <p>₦{{fixed.returns}}</p>
            <p>{{fixed.returns_payout_date}}</p>
            <p>{{fixed.payout_status}}</p>
            <p>{{fixed.reference_no}}</p>
        </div>
    </div>
</body>

</html>