body, html{
  background-image: linear-gradient(goldenrod, black, goldenrod)
}

h1{
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
}

.row-padding{
  padding-left: 10px;
  padding-right:10px;
}

.body-class {
    box-sizing: content-box;
    background-color: bisque;
}


/* FONTS AND BACKGROUND COLOR */
.text-color-black{
  color: black;
}

.text-color-white{
  color: white;
}

.text-color-gold{
  color: goldenrod;
}

.background-black{
  background-color:rgba(0, 0, 0, 0.829);
}
.background-gold{
  background-color:goldenrod;
}


/* Navbar styling*/
.brand-logo{
  max-height: 100px;
  max-width: 100px;
}

.active{
  border: transparent;
  border-bottom: 1px solid rgb(255, 255, 255);
}


.navbar-nav, .navbar-brand, .nav-link{
  color: white !important;
}

.nav-link:hover{
  text-decoration: none !important;
  border-bottom: 1px solid rgb(245, 245, 245) !important;
}

.dropdown-item{
  color: white !important;
}

.dropdown-item:hover{
  background: black;
}

/* shipping section styling */

.search-result{
  margin-top: 50px;
}


@media only screen and (max-width :767px){
  .search-result{
    margin-right: 20px;
  }
}

#shipping-search{
  border-radius: 7px;
  width: 270px;
  height: 40px;
  text-align: center;
}

#shipping-btn{
  text-align:center;
  border-radius: 7px;
  width: 270px;
  height: 40px;
  padding: 25px;
}

#shipping-search:hover{
  border-color: black;
  box-shadow: 5px 5px 5px black;
}

#grad {
  background-image: linear-gradient(rgb(255,215,0)) !important;
}



/* Site home page */
.container{
  max-width: 100%;
  max-height: auto;
}

.row-height{
  padding-top: 50px;
  padding-bottom: 30px;
}

@media only screen and (max-width : 310px){
  .row-padding{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


.responsive-img {
  width: 100%;
  height: auto;
  max-height: 500px;
  max-width: 700px;
  border-radius: 40px;
}

.body-text{
  margin-top:50px;
  padding-left: 30px;
  padding-bottom: 30px;
  text-align: center;

}

.text-center{
  text-align: center;
}


.btn{
  width: 200px;
  padding: 15px;
  border-radius: 10px;
}

.btn:hover{
  color: white;
}

@media only screen and (max-width:370px){
  .btn-contact{
    margin-left: -10px;
    margin-top: -60px;
  }
}


/* about page */

.about_text{
  text-align: left;
}


/*footer text */

.mb-footer{
  color:white;
}

