{% extends 'base.html' %}
<title>{% block head_title %}Shipment Tracking{% endblock head_title %}</title>


{% block content %}
<main class="container background-gold text-color-black">
  <div class="row row-height row-padding justify-content-center">
    <div class="col-md-4 body-text mt-5 search-result">
      <h2>Track Shipment</h2>
      <form action="{% url 'shipping_result' %}" method="get">
        <input id="shipping-search" name="q" type="text" placeholder="Input Tracking Number" class="d-flex w-100 pt-4 pb-4"/>
        <div>
          <input type="submit" value="Track Shipment"
                  class="btn background-black text-color-gold mt-3 w-100 pd-1"/>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock content %}