{% extends 'base.html' %}
{% load static %}



{% block content %}
<main class="container background-gold">

    <div class="row row-height row-padding">
        <div class="body-text">
            <h1>About Us</h1>
            <p>Simple verified, investments.</p>
        </div>
        <div class="col-md-6 body-text">
            <h1>Our Story</h1>
        </div>
        <div class="col-md-5 body-text about_text">
            <p><b>MOG DYNAMICS </b> is a financial securities company that aids investors in managing their finances and
                achieving
                financial success. We help investors manage their finances against loss whilst also making it grow
                through trading it in the Secondary Currency Market- also known as FOREX, STOCK and CRYPTOCURRENCY.
                We want to make investing a memorable experience by making it highly rewarding. It’s our dream and
                aim that our investors better manage their finances and achieve financial goals and milestones. Here
                is why you should join us on this journey!</p>
            <p>
                Investment has become a major determinant for long term wealth creation. It is one of the major forces
                that determine the economy growth of every nation. Recently, forex and crypto currency trading have
                become important part contributing to growth the world economy with the highest volume of $5.3trillion
                per day, and the key participants of this growth are the Institutional and retail traders.
            </p>

            <p>
                MOG DYNAMICS LTD is an Investment company that deals with investment,Buying /Selling of Crypto-currency,
                Automobile and importation/Exportation service based in Lagos Nigeria. The company serves individuals
                and businesses through provision of financial security services that ensure long term financial
                stability. Our service are centered on trading world economy platform (FOREX) and Crypto- Currency while
                providing related training services to individuals.
            </p>
            <p>
                Currently, the business trades up to 450, 000 USD monthly and makes its profit. As a company that seeks
                growth in terms of business operational efficiency and effectively and as well aims to maximize wealth
                and profitability, we constantly develop a financial sustainability plan and implement strategies that
                yield exponential growth for the company.
            </p>
            <p>
                Having a strong hold core and values of our foundation built on integrity and trust upon establishment,
                it has been of high regard to make investors satisfaction of high importance with an outstanding passion
                centered around improving financial growth and statuses-making wealth a possibility for everyone- while
                also being a key player in making impact in the financial industry, as we are also dedicated to being a
                strong driving force of financial innovators and solution providers.
            </p>
            <p>
                As a result of the strong hold of our culture and values of Integrity, we have earned recommendations in
                high places and an impressive number of investors; with our investors ranging from civil servants, small
                scale enterprise owners, start up funders and co-founders, working class individuals from the corporate
                world and even students, as we have placed enormous commitment and priority on the satisfaction on of
                our investors.
            </p>
        </div>
    </div>
</main>
<main class="container background-black text-color-gold">
    <div class="row row-height row-padding text-center justify-content-center">
        <div class="mt-3 col-md-5 body-text">
            <h1>Our Core Values</h1>
            <p class="text-center">
                Here is what defines us, our policies and all we do daily. It is the bedrock of our identity and the
                fulcrum of all of our relationships with customers, investors, stakeholders and community.
            </p>
        </div>
</main>
<main class="container background-black text-color-gold">
    <div class="row row-height row-padding justify-content-center about_text">

        <div class="col-md-4">
            <img src="{% static 'img/transparency.svg' %}" alt="transparacy logo">
            <h3>Integrity</h3>
            <p>
                We put the interests of our clients first, making their financial goals our goals. This is our ethical
                and professional obligation- and the right way to act. Our team is dedicated to best serving clients and
                never taking for granted the trust the put in us. Integrity is at the core of our investment process,
                client relationship and everything we do.
            </p>
        </div>

        <div class="col-md-3">
            <img src="{% static 'img/idea.svg' %}" alt="idea logo">
            <h3>Knowledge</h3>
            <p>
                Our highly seasoned team has successfully managed investor funds through euphoric as well as turbulent
                market cycles. The depth of this expertise and insight allows us to do our best for clients- giving them
                peace of mind and earning their confidence. We believe that the pursuit of knowledge never ends and we
                strive to continually develop our expertise to deliver superior long-term and short-term performance.
            </p>
        </div>

        <div class="col-md-4">
            <img src="{% static 'img/balance.svg' %}" alt="balance logo">
            <h3>Accountability</h3>
            <p>
                We believe our primary goal is to manage finances such that it yields profit for the investor. We are
                accountable and transparent to our investors, first and foremost, and earn their trust each day. Their
                interest guides our investment decisions.
            </p>
        </div>
    </div>
</main>

<main class="container background-gold text-color-black">
    <div class="row row-height row-padding justify-content-center about_text">
        <div class="col-md-7 mb-5 ml-5">
            <h1>Ready to start investing?</h1>
            <p>Let’s help you achieve financial freedom!</p>
        </div>
        <div class="col-md-4" style="margin-bottom:70px;">
            <a href="{% url 'contact-us' %}" class="btn background-black text-color-gold">Contact Us</a>
        </div>
    </div>
</main>
{% endblock %}