{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="main1">
        <div class="column1">
            <h1 class="text-center">MOG LOGISTICS SERVICES/ MOG DYNAMICS LTD</h1>
            <p>
                is the number one logistic company as our reputation stand us out among the rest. 
                We offer shipping from USA to NIGERIA and local logistics within LAGOS and its neighboring states. 
                We also offer Export shipping from Nigeria to Nigeria to the USA. Whether it’s managing your shipments 
                from door-to-door or simply finding competitive rates for Air Shipping, Ocean Shipping from any location in the 
                USA to anywhere in Nigeria, we have the experience to help you get there – wherever whenever  ‘there’ may be!. 
            </p>
        </div>

        <div class="column2">
            <div>
                <img src="{% static './images/IMG_5310.jpg' %}" alt="Body Image">
            </div>
        </div>
    </div>

    <div class="sub-main1">
        <a href="{% url 'contact-us'%}" class="">Get Started</a>
    </div>

    <div class="main2">
        <h1 style="text-center">WHY CHOOSE MOG LOGISTICS SERVICES/MOG DYNAMICS LTD</h1>
    
        <div class="row1">

            <div class="column1">
                <div>
                    <img src="{% static './images/IMG_6746.jpg' %}" alt="Body Image">
                </div>
            </div>

            <div class="column2">
                <img src="{% static 'img/value.svg' %}" alt="Body image" class="logo">
                <p>
                    We keep you in the know with regular updates. Consistent updates from time your goods are  received till it gets delivered.
                    Our customer services are available when help is needed.
                    Our rates are low, and friendly 
                    Very reliable and delivery are made right on time
                </p>
            </div>

        </div>

        <div class="row2">

            <div class="column1">
                <img src="{% static 'img/mark.svg' %}" alt="" class="logo">
                <p>
                    10 Days Free Storage
                    Where other shippers offers less than 5 days,
                    we gives up to 10 Days FREE storage to give you time to shop more from multiple store and also 
                    be able to ship to Nigeria as one shipment with just one shipping cost.
                </p>
            </div>

            <div class="column2">
                <div class="">
                    <img src="{% static './images/39EBE784-87EF-4831-B8EE-2DE45077918E.JPG' %}" alt="Body Image">
                </div>
            </div>

        </div>
    </div>

    <div class="main3">

        <h1 class="text-center">How it works</h1>

        <div class="row">
            <div class="column1">
                <div class="">
                    <img src="{% static './images/8CAE2C47-1136-4179-96B4-950CEECCD721.JPG' %}" alt="Body Image" class="responsive-img">
                </div>
                <h2>1</h2>
                <h3>Get A Free US Address In 30 Sec</h3>
                <p>
                    
                    Register here. Simply fill in your name, address, and email to register for free.
                    Start shopping on US online stores immediately using your assigned US address.
                </p>
            </div>
    
            <div class="column2">
                <div>
                    <img src="{% static './images/IMG_6097.jpg' %}" alt="Body Image">
                </div>
                <h2>2</h2>
                <h3>Shop From US Stores Online</h3>
                <p>
                    Start shopping immediately on Walmart, eBay, Amazon, and over 130,00 US online stores. 
                    You can also shop on a number of other websites in the USA using our assigned US address.
                </p>
            </div>
    
            <div class="column3">
                <div>
                    <img src="{% static './images/4A7D258D-A09E-4542-84E3-0A6EF57A1961.JPG' %}" alt="Body Image">
                </div>
                <h2>3</h2>
                <h3>Use Your US Address At Checkout</h3>
                <p>
                    Go to your address book on any online store you are shopping 
                    rom and set your assigned US address as your delivery address.
                    Send all your purchases to your assigned US address.
                </p>
            </div>
        </div>
    
        <div class="sub-main3">
            <a href="{% url 'contact-us' %}">Contact Us</a>
        </div>
        </div>
{% endblock %}