{% extends 'base.html' %}
{% load crispy_forms_tags %}
<title>{% block head_title %}Update Delivery{% endblock head_title %}</title>


{% block content %}
    <main class="container container mb-5 background-gold text-color-black">
        <div class="row justify-content-center">
          <div class="col-md-4 body-text mt-5 search-result">
            <h2>Update Delivery Status</h2>
            <form method="POST">
                {{ form|crispy}}
              {% csrf_token %}
              <input type="submit" value="Update Status" class="btn background-black text-color-gold mt-3 w-100 pd-1 mb-5"/>
              <a href="{% url "dispatch_search" %}" class="btn background-black text-color-gold mt-3 w-100 pd-1 mb-5">Cancel</a>
        </div>
        </div>
    </main>
{% endblock %}