{% extends 'base.html' %}
<title>{% block head_title %}Shipment Tracking{% endblock head_title %}</title>


{% block content %}

  <main class="search-container container" style="color:white;">
    <div class="row justify-content-center">
      <div class="col-5 search-div">

        <h2 class="text-center">Track Item Delivery</h2>
        
        <form action="{% url 'logistics_result' %}" method="GET">
          <input id="search-field" name="q" type="text" placeholder="Input Tracking Number" class="w-100 pt-4 pb-4" required>
          <div>
            <input type="submit" value="Track Item" class="w-100 pt-2 pb-2 mt-3" id="search-button">
          </div>
        </form>

      </div>
    </div>
  </main>
{% endblock content %}